<div id="comment-<%= comment.id %>" class="card bg-white shadow-md p-2 mb-2 inline-block max-w-full">
  <div class="flex items-start justify-between">
    <!-- 左側：アイコン＋本文 -->
    <%= link_to user_path(comment.user), class: "flex items-start gap-2" do %>
    <%= image_tag "dog.png", class: "w-12 h-12 rounded-full flex-shrink-0" %>
    <div class="flex flex-col">
      <h3 class="font-normal text-sm whitespace-nowrap hover:underline"><%= comment.user.name %></h3>
      <p class="whitespace-pre-wrap break-words"><%= simple_format(comment.content) %></p>
    </div>
    <% end %>
    <!-- 右側：更新日時/アイコン -->
    <div class="flex flex-col items-end space-y-1 text-right">
      <div class="text-xs text-gray-500 mb-2">
        <%= comment.updated_at.strftime('%Y/%m/%d %H:%M') %>
      </div>
      <% if user_signed_in? && current_user.own?(comment) %>
      <div class="flex gap-2 text-sm justify-center">
        <%= link_to comment_path(comment), class: "hover:underline", data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') } do %>
        <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>