<div class="p-2 h-full">
  <div class="card bg-white shadow-sm p-4 flex flex-col gap-2 h-full cursor-pointer hover:bg-gray-100">
    <div class="flex justify-between items-center">
      <!-- 左側: アバター + 名前 -->
      <div class="flex items-center space-x-2">
        <%= render "shared/name_icon", user: diary.user %>
      </div>
    </div>
    <div class="flex justify-between items-center">
      <span class="text-gray-600"><%= diary.written_on.strftime("%Y年%m月%d日(%a)") %></span>
      <% if diary.status_published? %>
      <span class="btn btn-xs btn-success">公開中</span>
      <% else %>
      <span class="btn btn-xs">非公開</span>
      <% end %>
    </div>
    <!-- カード全体を詳細リンク -->
    <%= link_to diary_path(diary), class: "block w-full h-full" do %>
    <!-- 本文 -->
    <p class="text-sm mt-1 mb-0"><%= truncate(diary.content, length: 30) %></p>
    <% if diary.images.attached? %>
    <div data-controller="swiper" class="swiper">
      <%= render "swiper_images", diary: diary, size: 200 %>
    </div>
    <% end %>
  </div>
  <% end %>
</div>