<% content_for(:title, t('.title')) %>

<div class="flex flex-col w-full">
  <%= link_to diaries_path, class: "flex items-center gap-1" do %>
  <i class="fas fa-arrow-left"></i>
  <i class="text-sm font-semibold hover:underline">日記一覧へ</i>
  <% end %>
</div>
<h1 class=" text-xl font-semibold text-center">
  <i class="far fa-edit"></i>うちの子日記一覧
</h1>
<div class="flex justify-center w-full mt-3">
  <%= link_to "うちの子日記を書く", new_diary_path, class: "btn btn-sm btn-secondary" %>
</div>
<div id="calendar" data-controller="calendar" data-calendar-events-value="<%= @events %>">
</div>

<div class="grid grid-cols-1 sm:grid-cols-2">
  <% if @diaries.present? %>
  <% @diaries.each do |diary| %>
  <%= render partial: "diary", locals: { diary: diary } %>
  <% end %>
  <% else %>
  <div class="mb-3 col-span-2">日記はまだありません。</div>
  <% end %>
</div>
<%= paginate @diaries %>