<div class="w-full sm:w-full md:max-w-md lg:max-w-lg xl:max-w-2xl mx-auto mt-6">
  <div class="flex flex-col text-center mb-6 w-full">
    <h1 class=" text-xl font-medium text-left">
      <i class="far fa-comment-dots"></i>お悩み相談新規作成
    </h1>
    <%= form_with model: @consultation, url: consultations_path, local: true, class: "new_consultation" do |f| %>
    <div class="mb-3 p-4">
      <%= f.label :title, class: "font-bold mb-3 block" do %>
      タイトル
      <span class="text-red-500">*</span>
      <% end %>
      <%= f.text_field :title, class: "input w-full text-md input-lg input-secondary p-2 h-15", placeholder: "タイトルは必須です"%>
    </div>
    <div class="mb-3">
      <%= f.label :content, class: "font-bold mb-3 block" do %>
      本文
      <span class="text-red-500">*</span>
      <% end %>
      <%= f.text_area :content, class: "input w-full input-lg input-secondary p-2 h-80 resize-y", placeholder: "本文は必須です" %>
    </div>
    <%= f.submit "投稿する", class: "btn btn-md btn-secondary" %>
    <% end %>
  </div>
</div>