<% content_for(:title, t('.title')) %>
<div class="w-full sm:w-full md:max-w-md lg:max-w-lg xl:max-w-2xl mx-auto mt-6">
  <div class="flex flex-col w-full">
    <%= link_to consultations_path, class: "flex items-center gap-1" do %>
    <i class="fas fa-arrow-left"></i>
    <i class="text-sm font-semibold hover:underline">悩み相談一覧へ</i>
    <% end %>
  </div>
  <h1 class=" text-xl font-semibold text-center">
    <i class="far fa-comment-dots"></i>お悩み相談詳細
  </h1>
  <div class="card bg-white shadow-md w-[calc(100%-1rem)] sm:w-[calc(100%-2rem)] md:max-w-md lg:max-w-lg xl:max-w-2xl mx-auto mt-6">
    <div class="card-body">
      <div class="flex-1 flex flex-col">
        <!-- アバターとボタンを横並び -->
        <div class="flex justify-between items-start mb-1">
          <%= render "shared/name_icon", user: @consultation.user %>
          <div class="flex ml-auto space-x-2">
            <% if  user_signed_in? && current_user.own?(@consultation) %>
            <%= link_to "編集", edit_consultation_path(@consultation), class:"btn px-2 py-1 btn-accent" %>
            <%= link_to "削除", consultation_path(@consultation), data: { turbo_method: :delete, turbo_confirm: t("defaults.delete_confirm") }, class:"btn px-2 py-1 btn-error" %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="flex-1 flex flex-col">
        <!-- ユーザー名と日付を横並び -->
        <div class="flex ml-auto mb-1">
          <span class="text-xs text-gray-500"><%= @consultation.created_at.strftime("%-m/%-d %H:%M") %></span>
        </div>
        <div class="flex items-center mt-1">
          <h2 class="card-title text-xl font-semibold mb-2"><%= @consultation.title %></h2>
          <div class="flex flex-wrap gap-2 ml-auto">
            <%= render "tag_list", tag_list: @consultation.tag_list %>
          </div>
        </div>
        <p class="text-left"><%= simple_format(@consultation.content) %></p>
      </div>
      <!-- リアクションボタン -->
      <%= render "reactions/reactions", reactable: @consultation %>
    </div>
  </div>
  <!-- コメントフォーム -->
  <%= render partial: "comments/form", locals: { comment: @comment, consultation: @consultation } %>
  <div id="table-comment" , class="flex flex-col">
    <!-- コメント一覧 -->
    <%= render partial: "comments/comment", collection: @comments %>
  </div>
</div>