<main class="flex-1 p-1">
  <div class="card bg-white shadow-md w-full sm:w-full md:max-w-md lg:max-w-lg xl:max-w-2xl mx-auto mt-6">
    <figure class="mt-2 mb-0">
      <%= image_tag "top.png", class: "w-full max-w-[500px] mx-auto object-contain", alt: "トップ画像" %>
    </figure>
    <div class="card-body items-center text-center p-4">
      <p class="card-title text-blue-300 mb-2">
        保護犬を迎えた後も<br>
        幸せに「ともに」暮らせるように
      </p>
      <p class="mb-0 text-sm sm:text-base md:text-base lg:text-lg">
        保護犬と、保護犬と暮らす飼い主を、
        <br>日々の悩みや不安から支えるサポートアプリです。
        <br>飼い主同士のコミュニティ機能、
        <br>AIによる保護犬の性格や行動に合わせたアドバイス機能を通じて、
        <br>気軽に相談・共有ができます。
      </p>
      <ul class="menu grid grid-cols-2 gap-2">
        <li>
          <%= link_to diaries_path, class: "block w-full h-full rounded-lg border-2 border-blue-200 p-3 min-h-[140px] flex flex-col items-center justify-center text-center hover:bg-blue-50 transition" do %>
          <span class="flex items-center gap-2 mb-2 text-md font-bold">
            <i class="far fa-edit"></i> うちの子日記
          </span>
          <span class="text-stone-400 text-sm whitespace-normal">毎日の成長を記録</span>
          <% end %>
        </li>

        <li>
          <%= link_to consultations_path, class: "block w-full h-full rounded-lg border-2 border-blue-200 p-3 min-h-[140px] flex flex-col items-center justify-center text-center hover:bg-blue-50 transition" do %>
          <span class="flex items-center gap-2 mb-2 text-md font-bold">
            <i class="far fa-comment-dots"></i> お悩み相談一覧
          </span>
          <span class="text-stone-400 text-sm whitespace-normal">みんなに悩みを相談する</span>
          <% end %>
        </li>

        <li>
          <%= link_to "#", class: "block w-full h-full rounded-lg border-2 border-blue-200 p-3 min-h-[140px] flex flex-col items-center justify-center text-center hover:bg-blue-50 transition" do %>
          <span class="flex items-center gap-2 mb-2 text-md font-bold">
            <i class="fas fa-dog"></i> AI「TOMONIくん」
          </span>
          <span class="text-stone-400 text-sm whitespace-normal">AI「TOMONIくん」に相談する</span>
          <% end %>
        </li>

        <li>
          <%= link_to chat_rooms_path, class: "block w-full h-full rounded-lg border-2 border-blue-200 p-3 min-h-[140px] flex flex-col items-center justify-center text-center hover:bg-blue-50 transition" do %>
          <span class="flex items-center gap-2 mb-2 text-md font-bold">
            <i class="far fa-envelope"></i> チャット
          </span>
          <span class="text-stone-400 text-sm whitespace-normal">他の飼い主さんと1対1でチャット</span>
          <% end %>
        </li>

        <li>
          <%= link_to "#", class: "block w-full h-full rounded-lg border-2 border-blue-200 p-3 min-h-[140px] flex flex-col items-center justify-center text-center hover:bg-blue-50 transition" do %>
          <span class="flex items-center gap-2 mb-2 text-md font-bold">
            <i class="far fa-heart"></i> いぬのきもち診断
          </span>
          <span class="text-stone-400 text-sm whitespace-normal">5つの質問に答えて今の愛犬のきもちを知ろう</span>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</main>