<h2 class="font-bold text-left text-xl">уБЖуБбуБохнРуГЧуГнуГХуВгуГ╝уГл</h2>
<div class="grid grid-cols-1 sm:grid-cols-2 gap-2">
  <% if dog_profiles.present? %>
  <% dog_profiles.each do |dog_profile| %>
  <div class="bg-white shadow-md rounded-lg p-4 w-64 mx-auto">
    <div class="flex justify-center">
      <%= render "dog_profiles/dog_icon", dog_profile: dog_profile, size:150 %>
    </div>
    <p class=" font-bold"><%= dog_profile.name %></p>
    <p><%= dog_profile.breed %>уГ╗<%= dog_profile.display_age %></p>
    <% if dog_profile.user == current_user %>
    <%= link_to "уБЖуБбуБохнРч╖ищЫЖ", edit_user_dog_profile_path(current_user, dog_profile), class:"btn btn-sm btn-secondary" %>
    <% end %>
  </div>
  <% end %>
  <% else %>
  <p>уБ╛уБачЩ╗щМ▓уБпуБВуВКуБ╛уБЫуВУЁЯРХ</p>
  <% end %>
</div>