<header class="w-full bg-white shadow-sm">
  <div class="container mx-auto flex items-center px-4 py-4 justify-between">
    <!-- ロゴ -->
    <div class="flex">
      <!-- ハンバーガー（モバイルのみ） -->
      <div class="lg:hidden">
        <button data-action="click->menu-toggle#toggle" class="btn btn-ghost btn-square">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </button>
      </div>
      <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "header.png", width: 120 %>
      <% end %>
    </div>

    <!-- PCメニュー -->
    <div class="flex space-x-2 items-center">
      <% if user_signed_in? %>
      <div class="text-sm font-semibold">
        <%= link_to "#{current_user.name}さん", mypage_path, class:"btn btn-sm btn-ghost" %>
      </div>
      <div data-controller="notification-dropdown" class="dropdown dropdown-end relative">
        <div data-action="click->notification-dropdown#toggle" tabindex="0" role="button" class="btn btn-md m-1 relative">
          <i class="far fa-bell fa-lg"></i>
          <div id="count" class="indicator-item">
            <%= render "notifications/count", notifications: current_user.received_notifications %>
          </div>
        </div>
        <div tabindex="0" data-notification-dropdown-target="menu" id="list" class="dropdown-content menu bg-base-100 rounded-box w-80 shadow-lg mt-3 p-2 absolute right-0 z-50">
          <%= render "notifications/full_list", notifications: current_user.received_notifications.order(created_at: :desc).limit(10) %>
          <% if current_user.received_notifications.count > 10 %>
          <div class="text-center mt-2">
            <%= link_to "通知一覧を見る", notifications_path, class:"text-sm hover:underline"%>
          </div>
          <% end %>
        </div>
      </div>
      <% else %>
      <%= link_to "ログイン", new_user_session_path, class: "btn btn-md btn-secondary" %>
      <%= link_to "新規登録", new_user_registration_path, class: "btn btn-md" %>
      <% end %>
    </div>
  </div>
</header>