<header class="w-full bg-white shadow-md">
  <div class="container mx-auto flex items-center px-4 py-4 justify-between">
    <!-- ロゴ -->
    <div class="flex-1">
      <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "header.png", width:120 %>
      <% end %>
    </div>

    <!-- ログイン・新規登録ボタン -->
    <div class="flex space-x-2">
      <% if user_signed_in? %>
      <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete }, class: "btn btn-md btn-secondary" %>
      <% else %>
      <%= link_to "ログイン", new_user_session_path, class: "btn btn-md btn-secondary" %>
      <%= link_to "新規登録", new_user_registration_path, class: "btn btn-md" %>
      <% end %>
    </div>
  </div>
</header>