<!-- 閉じるボタン（モバイルのみ） -->
<div class="flex justify-between items-center mb-4 lg:hidden">
  <button data-action="click->menu-toggle#close" class="btn btn-ghost btn-sm">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
    </svg>
  </button>
</div>
<!-- サイドメニュー -->
<aside class="w-55 p-2 bg-white h-full">
  <ul class="menu">
    <% if user_signed_in? %>
    <li class="mb-3">
      <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete }, class: "btn btn-ghost w-full text-md justify-start border-b-stone-400" %>
    </li>
    <% else %>
    <li class="mb-3">
      <%= link_to "ログイン", new_user_session_path, class: "btn btn-ghost w-full text-md justify-start border-b-stone-400" %>
    </li>
    <li class="mb-3">
      <%= link_to "新規登録", new_user_registration_path, class: "btn btn-ghost w-full text-md justify-start border-b-stone-400" %>
    </li>
    <% end %>
    <li class="mb-3">
      <%= link_to diaries_path, class: "btn btn-ghost w-full text-md justify-start border-b-stone-400" do %>
      <i class="far fa-edit"></i> うちの子日記
      <% end %>
    </li>
    <li class="mb-3">
      <%= link_to consultations_path, class: "btn btn-ghost w-full text-md justify-start border-b-stone-400" do %>
      <i class="far fa-comment-dots"></i> お悩み相談一覧
      <% end %>
    </li>
    <li class="mb-3">
      <%= link_to new_ai_consultation_path, class: "btn btn-ghost w-full text-md justify-start border-b-stone-400" do %>
      <i class="fas fa-dog"></i>AI「TOMONIくん」
      <% end %>
    </li>
    <li class="mb-3">
      <%= link_to  chat_rooms_path, class: "btn btn-ghost w-full text-md justify-start border-b-stone-400" do %>
      <i class="far fa-envelope"></i> チャット
      <% end %>
    </li>
    <li class="mb-3">
      <%= link_to dog_diagnosis_diagnoses_index_path, class: "btn btn-ghost w-full text-md justify-start border-b-stone-400" do %>
      <i class="far fa-heart"></i>いぬのきもち診断
      <% end %>
    </li>
    <%
=begin%>
    <li class="mb-3">
      <%= link_to "#", class: "btn btn-ghost w-full text-md justify-start border-b-stone-400" do %>
      <i class="far fa-id-card"></i> マイページ
      <% end %>
    </li>
    <%
=end%>
  </ul>
</aside>