<div class="flex min-h-screen">
  <!-- サイドメニュー -->
  <aside class="md:flex flex-col w-55 p-4 bg-base-200">
    <ul class="menu">
      <li class="mb-2">
        <%= link_to "#", class: "btn btn-ghost w-full text-md justify-start" do %>
        <i class="far fa-edit"></i> 日記トップ
        <% end %>
      </li>
      <li class="mb-2">
        <%= link_to "#", class: "btn btn-ghost w-full text-md justify-start" do %>
        <i class="far fa-comment-dots"></i> お悩み相談一覧
        <% end %>
      </li>
      <li class="mb-2">
        <%= link_to "#", class: "btn btn-ghost w-full text-md justify-start" do %>
        <i class="fas fa-dog"></i>AI「TOMONIくん」に相談
        <% end %>
      </li>
      <li class="mb-2">
        <%= link_to "#", class: "btn btn-ghost w-full text-md justify-start" do %>
        <i class="far fa-envelope"></i> 飼い主とチャット
        <% end %>
      </li>
      <li class="mb-2">
        <%= link_to "#", class: "btn btn-ghost w-full text-md justify-start" do %>
        <i class="far fa-heart"></i>いぬのきもち診断
        <% end %>
      </li>
      <li class="mb-2">
        <%= link_to "#", class: "btn btn-ghost w-full text-md justify-start" do %>
        <i class="far fa-id-card"></i> マイページ
        <% end %>
      </li>
    </ul>
  </aside>
</div>