<% content_for(:title, t('.title')) %>
<div class="min-h-screen py-8">
  <div class="max-w-2xl mx-auto px-4 item-center">
    <div class="bg-white rounded-xl shadow-lg p-4 mb-4">
      <div class="text-center mb-6">
        <h1 class="text-2xl font-bold mb-2">🐾診断結果🐾</h1>
        <p class="text-gray-600 mb-2">あなたのワンちゃんの今のきもちは。。。</p>
        <% if @result.image_path.present? %>
        <div class="flex justify-center">
          <%= image_tag @result.image_path, class: "rounded-lg w-full max-w-sm" %>
        </div>
        <% end %>
        <h2 class="text-2xl font-bold mb-2 text-blue-300">
          <%= @result.title %>
        </h2>
        <p class="text-lg font-semibold mb-4">
          <%= @result.dog_message %>
        </p>
        <h3 class="text-md font-semibold">今のきもち💭</h3>
        <p class="leading-relaxed mb-4">
          <%= simple_format(@result.explanation) %>
        </p>
        <div class="text-center mt-6">
          <%= link_to "もう一度診断する", dog_diagnosis_diagnoses_index_path, class:"btn btn-md btn-secondary" %>
          <%= link_to "診断結果を日記に投稿する", dog_diagnosis_to_diary_path(@result), class: "btn btn-md btn-primary border border-blue-300" %>
        </div>
        <% tweet_url  = "https://twitter.com/intent/tweet?text=#{ERB::Util.url_encode(@share_text)}&url=#{ERB::Util.url_encode(@share_url)}" %>
        <%= link_to tweet_url, target: "_blank", rel: "noopener", class: "btn btn-ghost mt-2" do %>
        <i class="fa-brands fa-x-twitter"></i> で共有する
        <% end %>
      </div>
    </div>
  </div>
</div>