<div class="w-full sm:w-full md:max-w-md lg:max-w-lg xl:max-w-2xl mx-auto mt-6">
  <div class="flex flex-col text-center mb-6 w-full">
    <h1 class=" text-xl font-semibold text-left mb-4">
      <i class="fas fa-dog"></i>AI「TOMONIくん」に相談
    </h1>
    <div class="text-center item-center">
      <%= turbo_frame_tag "ai_consultation_form" do %>
      <%= form_with url: ai_consultations_path, method: :post, data: { controller: "loading", action: "submit->loading#submitStart" } do |f| %>
      <div class="mb-4">
        <%= f.label :category, "1.愛犬のどんなことに悩んでいますか？", class: "font-bold" %>
        <%= f.text_field :category, placeholder: "例:吠え、噛み、トイレ、食欲、怖がり、分離不安、散歩など", class: "input w-full input-secondary" %>
      </div>
      <div class="mb-4">
        <%= f.label :situation, "2.いつ起こりますか？", class: "font-bold" %><br>
        <%= f.text_field :situation, placeholder: "例:散歩中に他の犬とあったとき", class: "input w-full input-secondary" %>
      </div>
      <div class="mb-4">
        <%= f.label :dog_reaction, "3.愛犬の様子はどうですか？", class: "font-bold" %><br>
        <%= f.text_field :dog_reaction, placeholder: "例:吠えて飛びかかろうとする", class: "input w-full input-secondary" %>
      </div>
      <div class="mb-4">
        <%= f.label :goal, "4.愛犬にどうなってほしいですか？一緒に何がしたいですか？", class: "font-bold" %><br>
        <%= f.text_area :goal, placeholder: "例:落ち着いてすれ違えるようにしたい。今はお散歩に行くのが少し苦痛になってしまっているので一緒に散歩を楽しみたい。", class: "input w-full input-secondary p-2 h-24" %>
      </div>
      <div class="mb-4">
        <%= f.label :details, "5.その他補足", class: "font-bold" %><br>
        <%= f.text_area :details, class: "input w-full input-secondary h-24 p-2" %>
      </div>
      <%= f.submit "相談する", id: "advice-submit-button", class: "btn btn-md btn-secondary", data: { "loading-target": "submitButton" } %>
      <div id="loading-indicator" class="hidden text-center mt-4" data-loading-target="loadingIndicator">
        <p class="text-gray-600"><i class="fas fa-spinner fa-spin"></i>「TOMONIくん」が考えています...</p>
      </div>
      <% end %>

      <% if @advice.present? %>
      <div class="mt-8 p-4 bg-white rounded-lg ">
        <h2 class="font-bold text-xl flex items-center gap-2">
          <i class="fas fa-dog"></i>「TOMONIくん」の回答
        </h2>
        <div class="mt-2">
          <h3 class="text-lg font-semibold flex items-center gap-2">
            お悩みの要約🌿
          </h3>
          <p class="mt-2 text-gray-700 leading-relaxed"><%= @advice["summary"] %></p>
        </div>
        <div class="mt-2">
          <h3 class="text-lg font-semibold flex items-center gap-2">
            共感メッセージ🤝
          </h3>
          <p class="mt-2 text-gray-700 leading-relaxed"><%= @advice["empathy"] %></p>
        </div>
        <div class="mt-2">
          <h3 class="text-lg font-semibold flex items-center gap-2">
            アドバイス💡
          </h3>
          <ul class="mt-2 list-disc list-inside space-y-2 text-gray-700 leading-relaxed">
            <% @advice["advice"].each do |advice| %>
            <li><%= advice %></li>
            <% end %>
          </ul>
        </div>
        <div class="mt-2">
          <h3 class="text-lg font-semibold flex items-center gap-2">
            応援🏳‍🌈
          </h3>
          <p class="mt-2 leading-relaxed text-gray-700 font-medium"><%= @advice["cheer"] %></p>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
</div>