<%= @email %>様
<% if @resource.try(:unconfirmed_email?) %>
<%= @email %>様のメールアドレスが<%= @resource.unconfirmed_email %>に変更されたことをお知らせします。
<% else %>
<%= @email %>様のメールアドレスが<%= @resource.email %>に変更されたことをお知らせします。
<% end %>

<p>もしこのメールにお心当たりがない場合は、破棄してください。</p>

<p>――――――――――<br>
  TOMONI<br>
  <a href="https://tomoni-dogs.com">https://tomoni-dogs.com</a>
</p>